// Main Styles 

@import "normalize"; 
@import "google-homepage"; 

/* Styling */

#stage {
    height: 300px;
    width: 600px;  
    background: white;
}

#stage h1 {
  margin-left: 80px;
  text-align: center;
  margin-top: 150px;
  font-size: 8em;
  color: white; 
  position: absolute;
  z-index: 2;
  font-family: 'Anton', sans-serif;
}

#stage img {
  height: 300px;
  width: 600px;
 animation: slideInUp 5s; 
  overflow: hidden;
}

#stage svg {
  z-index: 4;
  width: 80px;
  position: relative;
  left: 178px;
  bottom: 113px;
  animation: fadeIn 7s;
}


// Animations 





